<div class="login-box">
      <div class="login-logo">
        <a href="#/login"><b>Admin</b>LTE</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form>
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Email" ng-model="auth.email" value="quanmn.libra@gmail.com" >
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span ng-if="auth.email_fail" class="help-inline"><label for="email" class="error"><i class="fa fa-exclamation-circle"></i>&nbsp;{{auth.email_fail}}</label></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" ng-model="auth.password" value="123456">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span ng-if="auth.password_fail" class="help-inline"><label for="email" class="error"><i class="fa fa-exclamation-circle"></i>&nbsp;{{auth.password_fail}}</label></span>
          </div>
          <span ng-if="auth.login_fail" class="help-inline"><label for="email" class="error"><i class="fa fa-exclamation-circle"></i>&nbsp;{{auth.login_fail}}</label></span>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button ng-click="auth.login()" type="submit" class="btn btn-primary btn-block btn-flat">Sign In
              <div style="float: left;" ng-if="auth.refresh == 1" class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
              </div>
              </button>
            </div><!-- /.col -->
          </div>
        </form>

        <a href="#/">I forgot my password</a><br>

      </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
