        <!-- Main content -->
        <section  class="content" ng-controller="ContentCategoryController" >
          <div class="row">
            <div class="col-md-12">
              
              <div class="box box-warning">
                <div class="box-header with-border">
                   <button type="button" class="btn btn-success start" ng-click="createNewCategory()">
                            <i class="fa fa-plus"></i>
                            <span>Create New</span>
                   </button>
                </div>
                <div class="box-body">
                   <form ng-submit="submitCategory()" id="form">
                      <div class="row margin-bottomp-10px">
                        <span class="col-sm-2"><b>Name</b></span>
                        <div class="col-sm-10">
                          <input ng-model = "form.name" type="text" name="name" class="form-control" placeholder="Name" required>
                        </div>
                      </div>
                      <div class="row margin-bottomp-10px">
                        <span class="col-sm-2"><b>Parent</b></span>
                        <div class="col-sm-10">
                          <input ng-model = "form.parent" type="text" name="parent" class="form-control" placeholder="Parent" required>
                        </div>
                      </div>
                      <div class="row margin-bottomp-10px">
                        <span class="col-sm-2"><b>Status</b></span>
                        <div class="col-sm-10">
                          <div class="checkbox icheck">
                                    <label>
                                      <input icheck ng-model="form.status" name="status" type="checkbox"> Active
                                    </label>
                                  </div>
                        </div>
                      </div>

                      <div class="row margin-bottomp-10px">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-10">
                            <input datatype="save" class="btn btn-primary" type="submit" id="submit" value="Submit" />
                          <button type="button" class="btn btn-danger" ng-click="cancelNewCategory()">
                                <span>Cancel</span>
                            </button>
                          </div>
                      </div> 
                   </form>
                   <hr>
                   <table id="table" class="table table-bordered">
                              <tbody><tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 400px">Name</th>
                                <th style="width: 400px">Parent</th>
                                <th style="width: 130px">Active</th>
                                <th style="width: 100px"></th>
                              </tr>
                              <tr class="rowitem" id="row0"></tr>
                            
                            </tbody>
                    </table>
                    <hr> 

                </div><!-- /.box-body -->
              </div><!-- /.box -->
              
            </div><!-- /.col (RIGHT) -->
          

        </section><!-- /.content -->
