        <!--<a href="#0" class="cd-popup-trigger">View Pop-up</a>-->
        <link rel="stylesheet" href="dist/css/cd-popup.css">
        <div class="cd-popup" role="alert">
          <div class="cd-popup-container">
            <p>Are you sure you want to delete this element?</p>
              <ul class="cd-buttons">
                <li><a href="#0" onclick="angular.element(this).scope().confirmYes()">Yes</a></li>
                <li><a href="#1" onclick="angular.element(this).scope().confirmNo()">No</a></li>
              </ul>
            <a href="#0" class="cd-popup-close img-replace"></a>
          </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup --> 