        <!-- Main content -->
        <section  class="content" ng-controller="CatalogOrderController">
          <div class="row">
            <div class="col-md-12">
              
              <div class="box box-info">
                <div class="box-header with-border">
                </div>
                <div class="box-body">
                   <div ng-if="refresh == 1" class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                   </div>
                   <table id="table" class="table table-bordered">
                              <tbody><tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 200px;text-align:center">Date created</th>
                                <th style="width: 200px">Customer</th>
                                <th style="width:100px">Phone</th>
                                <th style="width:100px">Email</th>
                                <th style="width: 130px">Status</th>
                                <th>Details</th>
                              </tr>
                              <tr ng-repeat="(key, order) in orders  | orderBy: '-id' " >  
                                <td style="vertical-align: middle;">
                                  {{key + 1}}
                                </td>
                                <td style="vertical-align: middle;text-align:center">
                                 {{order.created_at}}
                                </td>
                                <td style="vertical-align: middle;">{{order.user_name}}</td>
                                <td style="vertical-align: middle;">{{order.user_phone}}</td>
                                <td style="vertical-align: middle;">{{order.user_email}}</td>
                                <td ng-if="order.status == 3" style="vertical-align: middle;">Done</td>
                                <td ng-if="order.status == 2" style="vertical-align: middle;">Proccessing</td>
                                <td ng-if="order.status == 1" style="vertical-align: middle;">Pendding</td>
                                <td>
                                 <a data-id="{{order.id}}" onclick="loadModalOrderDetails(this, event);" href="javascript:void(0)">View</a>
                                </td>
                              </tr>
                            
                            </tbody>
                    </table>
                    <hr> 

                </div><!-- /.box-body -->
                <div ng-if="posts" class="box-footer clearfix">
                  <!-- Pagination -->
                  <div class="row">
                  <div class="col-sm-3">
                  <ul class="pagination pagination-sm no-margin pull-left">
                    <li>
                        <a onclick="angular.element(this).scope().nextOrPrev(this)" my-link="prev_page_url" data-ng-class="{'disabled': !prev_page_url}" data ="{{prev_page_url}}" href="#">«</a>
                    </li>
                    <li>
                        <a onclick="angular.element(this).scope().goToPage(this)" data ="1" href="#">First</a>
                    </li>
                    <li ng-if="current_page > 2">
                        <a onclick="angular.element(this).scope().goToPage(this)" data ="{{current_page - 2}}" href="#">{{current_page - 2}}</a>
                    </li>
                    <li ng-if="current_page > 1">
                        <a onclick="angular.element(this).scope().goToPage(this)" data ="{{current_page - 1}}" href="#">{{current_page - 1}}</a>
                    </li>
                    <li>
                        <a my-link="current_page" style="background-color: #F5F5F5" data-ng-class="{'disabled': current_page}">{{current_page}}</a>
                    </li>
                    <li ng-if="current_page + 1 < total">
                        <a onclick="angular.element(this).scope().goToPage(this)" data ="{{current_page + 1}}" href="#">{{current_page + 1}}</a>
                    </li>
                    <li ng-if="current_page + 2 < total ">
                        <a onclick="angular.element(this).scope().goToPage(this)" data ="{{current_page + 2}}" href="#">{{current_page + 2}}</a>
                    </li>
                    <li>
                        <a onclick="angular.element(this).scope().goToPage(this)" data ="{{total}}" href="#">Last</a>
                    </li>
                    <li>
                        <a onclick="angular.element(this).scope().nextOrPrev(this)" my-link="next_page_url" data-ng-class="{'disabled': !next_page_url}" data = "{{next_page_url}}" href="#">»</a>
                    </li>
                  </ul>
                  </div>
                  <div class="col-sm-3" style="padding-top: 7px;">
                    Page <b>{{current_page}}</b> of <b>{{total}}</b>
                  </div>
                  </div>

                  <!-- End pagination -->
                </div>
              </div><!-- /.box -->
              
            </div><!-- /.col (RIGHT) -->
          

        </section><!-- /.content -->
        
        <div id="modal-order-detail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">Order No. </h4>
				      </div>
				      <div class="modal-body">
				        <table class="table table-bordered">
				        	<tr>
				        		<td width="30%">Name</td>
				        		<td id="orderName"></td>
				        	</tr>
				        	<tr>
				        		<td width="30%">Email</td>
				        		<td id="orderEmail"></td>
				        	</tr>
				        	<tr>
				        		<td width="30%">Phone</td>
				        		<td id="orderPhone"></td>
				        	</tr>
				        	<tr>
				        		<td width="30%">Address</td>
				        		<td id="orderAddress"></td>
				        	</tr>
				        	<tr>
				        		<td width="30%">Status</td>
				        		<td id="orderStatus">
				        			
				        		</td>
				        	</tr>
				        	<tr>
				        		<td width="30%">Products</td>
				        		<td id="orderCart">
				        			
				        		</td>
				        	</tr>
				        	<tr class="alert alert-success">
				        		<td width="30%">Total</td>
				        		<td id="orderPrice">
				        			
				        		</td>
				        	</tr>
				        </table>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->